.chipbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0.5rem;
  @media (max-width: 800px) {
    padding: 0.25rem;
    justify-content: left;
    gap: 0.5rem;
    padding: 1rem;
  }
}

.chipbox div:last-child {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  @media (min-width: 800px) {
    padding-bottom: 1rem;
  }
}

.forecast-table {
  th,
  td {
    text-align: center;
    padding: 6px 12px;
  }
  th:first-child,
  td:first-child {
    padding-left: 0;
  }
}

svg.forecast-line-chart {
  transform: translateX(-1rem);
  @media (min-width: 800px) and (max-width: 900px) {
    width: 130%;
  }
}
