.chipbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.25rem;
  @media (max-width: 800px) {
    justify-content: right;
    gap: 1rem;
    padding: 1rem;
  }
}

.forecast-table {
  th,
  td {
    text-align: center;
    padding: 6px 12px;
  }
  th:first-child,
  td:first-child {
    padding-left: 0;
  }
}

svg.forecast-line-chart {
  transform: translateX(-1rem);
}
