.card-container {
  background-image: linear-gradient(
    to bottom,
    #b2d8e4 0%,
    #e0e9ec 40%,
    #d1d9d9 70%,
    #b3c3b5 90%,
    #8ea39c 100%
  );

  height: fit-content;
  position: absolute;
  top: 65%;
  width: 100%;
  z-index: 401;
}
