.search-box {
  max-width: 40vw;
  text-align: center;
  width: 35vw;
  position: fixed;
  left: 4rem;
  top: 1.5rem;
  z-index: 401;
}

.search-input,
.search-input + button {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}
