.menu {
  z-index: 400;
  position: absolute;
  right: 32px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.menu-link:hover,
.menu-link:active,
.menu-link:focus,
.menu-link:focus-visible {
  text-decoration: none;
  border: none;
  color: limegreen;
}
